<%= simple_form_for @team, :html => { :class => 'form-horizontal' } do |f| %>
	
	<%= f.error_notification %>
  <%= f.input :name, :label => "Enter Team Name" %>
  <%= f.input :home_field %>
  <%= f.input :location %>
  <%= f.input :rank %>

  	<div class="form-actions">
		<%= f.error :base %>
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                	teams_path, :class => 'btn' %>
  	</div>

<% end %>
