<%- model_class = @team.class -%>
<h1><%= @team.name %></h1></br>


<h3>Team Information</h3>
	
<p><strong>Home Field:  </strong><%= @team.home_field %></p>
<p><strong>Season enrollments:  </strong><%= @team.season_ids %></p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              teams_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_team_path(@team), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              team_path(@team),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>

<h3>Would you like to enroll in a new league?</h3>

<div class="form-actions">
  <%= link_to t('.yes', :default => t("helpers.links.yes")),
              teams_path, :class => 'btn'  %>
</div>