<%- model_class = @team.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:name) %>:</strong><br>
  <%= @team.name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:home_field) %>:</strong><br>
  <%= @team.home_field %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:location) %>:</strong><br>
  <%= @team.location %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:rank) %>:</strong><br>
  <%= @team.rank %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              teams_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_team_path(@team), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              team_path(@team),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
