<%- model_class = @season.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:name) %>:</strong>
  <%= @season.name %>
</p>

<p>
  <strong><%= model_class.human_attribute_name(:league_id) %>:</strong>
  <%= @season.league_id %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              seasons_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_season_path(@season), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              season_path(@season),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>


<!-- Table display of all the Schedules in the League -->

