<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @season.name %>
</p>

<p>
  <b>Date:</b>
  <%= @season.date %>
</p>

<p>
  <b>League:</b>
  <%= @season.league_id %>
</p>


<%= link_to 'Edit', edit_season_path(@season) %> |
<%= link_to 'Back', seasons_path %>
