<%= simple_form_for @contract, :html => { :class => 'form-horizontal' } do |f| %>
	
	<%= f.error_notification %>
  <%= f.input :user_id %>

  	<div class="form-actions">
			<%= f.error :base %>
    	<%= f.button :submit, :class => 'btn btn-primary' %>
  	</div>

<% end %>
