<h1>My Profile</h1></br>

<p><strong>Name: </strong> <%= @user.name %></p>
<p><strong>E-mail: </strong> <%= @user.email %></p>
<p><strong>Age: </strong> <%= @user.age %></p>

<div class="row-fluid">
	<div class="span4">
		<table class="table table-striped">
  		<thead>
    		<tr>
      		<th>My Roles</th>
    		</tr>
  		</thead>
  		<tbody>
				<% if @user.admin == true%>
      	<tr>
					<td>Administrator</td>
				</tr>
				<% end %>
				<% if @user.player == true%>
      	<tr>
					<td>Player</td>
				</tr>
				<% end %>
				<% if @user.coach == true%>
      	<tr>
					<td>Coach</td>
				</tr>
				<% end %>
				<% if @user.team_manager == true%>
      	<tr>
					<td>Team Manager</td>
				</tr>
				<% end %>
				<% if @user.league_manager == true%>
      	<tr>
					<td>League Manager</td>
				</tr>
				<% end %>	
  	</tbody>
	</table>
	</div>
</div>


<div class="form-actions">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_path(@user),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
