<%- model_class = @schedule.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:name) %>:</strong><br>
  <%= @schedule.name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:manager) %>:</strong><br>
  <%= @schedule.manager %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:heuristic_id) %>:</strong><br>
  <%= @schedule.heuristic_id %>
</p>

<p>
  <strong>Teams:</strong><br>
  <%= @teams %>
</p>

<p>
  <strong>Matches:</strong><br>
  <%= @matches %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              schedules_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_schedule_path(@schedule), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              schedule_path(@schedule),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
