<%= render 'partials/secondary_nav'%>

<!-- Table display of all Matches in the League -->

<%- model_class = Match.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
			<th>Match Status</th>
      <th>Team 1</th>
      <th>Score</th>
      <th>Team 2</th>
      <th>Score</th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= link_to match.id, match_path(match) %></td>
				<td><% if match.played %>
								<%= 'played' %>
							<% else %>
								<%= 'to be played' %>
							<% end %>
				</td>
        <td><%= link_to match.teams[0].name, team_path(match.teams[0].id) %></td>
        <td><%= match.score1%></td>
				<td><%= link_to match.teams[1].name, team_path(match.teams[1].id) %></td>
				<td><%= match.score2%></td>
        <td>
	        <%= link_to t('.show', :default => t("helpers.links.show")),
                      match_path(match), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Table display of all Schedule Information -->
</br>
<div class="row-fluid">
	<div class="span12">
		<h2>Schedule Creation Details</h2>
		</br>
		<p><strong>Schedule Name:</strong> <%= @schedule.name %></p>
		<p><strong>Manager:</strong> <%= @schedule.manager %></p>
		<p><strong>Heuristic:</strong> <%= @schedule.heuristic.name %></p>
	</div>
</div>
